.button {
  display: block;
  width: max-content;
  height: max-content;
  padding: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  color: var(--colorBlack);
  text-align: center;
  transition-duration: 0.3s;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  outline: none;

  &_small {
    font-size: 1.4rem;
    border-radius: 6rem;
    padding: 1rem 1.5rem;
  }

  @include mobile {
    font-size: 1.55rem;
    line-height: 150%;
    padding: 1rem 1.5rem;
  }

  &.button-ghost {
    background: none;
    border: 1px solid var(--colorGrey);
    color: var(--colorGrey);
    &:hover {
      background: var(--buttonBlueHover);
      border: 1px solid var(--buttonBlueHover);
      color: var(--colorMain);
    }
  }

  &.button-blue {
    background: var(--colorBlue);
    &:hover {
      background: var(--buttonBlueHover);
    }
  }

  &.button-indigo {
    background: var(--buttonBlueHover);
    color: var(--colorMain);
    &:hover {
      background: var(--buttonBlueHover);
    }
  }

  &.button-black {
    background: var(--colorBlack);
    color: var(--colorMain);
    &:hover {
      background: var(--buttonBlackHover);
    }
  }

  &.button-white {
    background: var(--gradientWhite);
    color: var(--buttonWhiteColor);
    &:hover {
      background: var(--buttonBlackHover);
      color: var(--colorMain);
    }
  }

  &.button-blur {
    background: var(--blur);
    color: var(--colorMain);
    &:hover {
      background: var(--buttonBlackHover);
      color: var(--colorMain);
    }
  }
}