@font-face {
  font-family: Gotham-Ultra;
  src: url('../font/Gotham-Ultra.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

@font-face {
  font-family: Gotham-bold;
  src: url('../font/Gotham-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

@font-face {
  font-family: Gotham-pro-medium;
  src: url('../font/gothm_pro_medium.ttf');
}

@font-face {
  font-family: Signerica-Fat;
  font-style: normal;
  font-weight: 400;
  src: url('../font/SignericaFat.ttf');
}
@font-face {
  font-family: Signerica-Medium;
  font-style: normal;
  font-weight: 400;
  src: url('../font/SignericaMedium.ttf');
}
@font-face {
  font-family: Signerica-Thin;
  font-style: normal;
  font-weight: 400;
  src: url('../font/SignericaThin.ttf');
}
